* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(260deg, #bdc3c7, #2c3e50);
    padding: 10px;
}

.heading-logo {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.heading-logo h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.heading-logo h2 img {
    width: 100px;
    margin-left: 10px;
}

.add-task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #edeef0;
    padding-left: 20px;
    border-radius: 30px;
    margin-bottom: 20px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    padding: 14px;
    background: transparent;
    font-weight: 14px;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background-color: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: " ";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background-image: url(Asset/OIP.jpg);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    text-decoration: line-through;
    color: #555;
}

ul li.checked::before {
    background-image: url(Asset/th.jpg);
}

ul li span {
    position: absolute;
    top: 5px;
    right: 0px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
background: #edeef0;
}